/* Force footer to the bottom on pages with limited content */
.content {
    position: relative;
    min-height: 100vh;
    padding-bottom: 60px;
    
  }
  .footer {
    width: 100%;
    position: absolute;
    color: white;
    bottom: 0px;
    padding: 20px;
    background-color: #F08080;
  }